<link rel="stylesheet" href="/css/homeStyles.css">

<div id="wrapper-home">
    <div id="heading"><h2>Student Management</h2></div>
    <div id="wrapper-options">
        <button><a href="/students/students-list"><div class="options-div">View Students</div></a></button>
        <!-- <a href=""><div class="options-div">View Students</div></a> -->
        <button><a href="/company/company-list"><div class="options-div">View Company</div></a></button>
        <button><a href="/interview/interview-list"><div class="options-div">Interviews</div></a></button>
    </div>
</div>

